if x_ua_compatible
  meta(http-equiv="X-UA-Compatible" content!=x_ua_compatible)

if canonical
  link(rel="canonical" href!=canonical)

if favicon
  link(rel="icon" href!=favicon)
  //- link(rel="icon" href!=favicon type="image/vnd.microsoft.icon")
  //- link(rel="shortcut icon" href!=favicon type="image/vnd.microsoft.icon")

if apple_touch_icon
  link(rel="apple-touch-icon" href!=apple_touch_icon)

if charset
  meta(charset!=charset)
if robots
  meta(name="robots" content!=robots)
if format_detection
  meta(name="format-detection" content!=format_detection)
if viewport
  meta(name="viewport" content!=viewport)

if theme_color
  meta(name="theme-color" content=theme_color)

if title
  title!= title
if description
  meta(name="description" content!=description)
if keywords
  meta(name="keywords" content!=keywords)

if og && typeof og === 'object'
  for item, key in og
    if item
      meta(property=`og:${key}` content!=item)

if fb && typeof fb === 'object'
  for item, key in fb
    if item
      meta(property=`fb:${key}` content!=item)

if twitter && typeof twitter === 'object'
  for item, key in twitter
    if item
      meta(name=`twitter:${key}` content!=item)

if css
  if(typeof css === 'object')
    for item, key in css
      if item
        link(href!=`${assets_path}css/${item}` rel="stylesheet")
  if(typeof css === 'string')
    link(href!=`${assets_path}css/${css}` rel="stylesheet")
block css

if js
  if(typeof js === 'object')
    for item, key in js
      if item
        script(src!=`${assets_path}js/${item}`)
  if(typeof js === 'string')
    script(src!=`${assets_path}js/${js}`)
block js

